#calcBody {
    width: 600px;
    font-family: 'Roboto', sans-serif;
}

#calc {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1em;
}

#calcInputBox {
    display: flex;
    grid-column: 1/5;
    height: 100px;
    width: 100%;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

#calcInput {    
    font-size: 40px;
    color: #494949;
}

button {
    height: 70px;
    width: 140px;
    font-size: 35px;
    border: 0;
    border-radius: 5px;
    background-color: #eeeeee;
    color: #6b6b6b;
    font-family: 'Roboto', sans-serif;
}

button:hover {
    filter: brightness(95%);
}

.operator {
    background-color: #dadada;
}

.operator:hover {
    filter: brightness(105%);
}

.sideRow {
    grid-column: 4/5;
}

.secondRow {
    grid-row: 3;
}

.thirdRow {
    grid-row: 4;
}

.fourthRow {
    grid-row: 5;
}


#equals {
    color: white;
    background-color: #90ee90;
}